<div class="container">
  <div class="row">
    <div class="large-3 columns">
    </div> <!-- end div large 3 columns -->
    <div class="large-6 columns">
      <h1> About </h1>
      <p>Otakon is an annual three day anime convention held during July/August at the Baltimore Convention Center in Baltimore, Maryland's Inner Harbor district. The convention focuses on East Asian popular culture (primarily anime, manga, music, and cinema) and its fandom.</p>
      <h1> Mission Statement </h1>
      <p class="mission-statement">This is the mission of Otakon!</p>
      <h1> etc. </h1>
    </div> <!-- end div large 6 columns -->
    <div class="large-3 columns">
    </div> <!-- end div large 3 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->

