<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h1 id="headline"> We are Otakon! <%= image_tag "mascots.gif", :class => 'mascot-hiroko'%></h1>
      <h2 class="about-bar"> About </h2>
      <p class="about-p">Otakon is an annual three day anime convention held during July/August at the Baltimore Convention Center in Baltimore, Maryland's Inner Harbor district. The convention focuses on East Asian popular culture (primarily anime, manga, music, and cinema) and its fandom.</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar"> Mission Statement </h2>
      <p class="about-p">An anime convention for fans, by fans!</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar">Privacy Policy</h2>
      <p class="about-p">Otakorp, Inc.'s privacy policy is simple: whatever information you provide us, we won't sell to anyone else. And we promise to use it only for Otakorp, Inc. related events such as Otakon. Fair enough?</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar">Otakon Mascots</h2>
        <div class="row" id="mascot-div">
          <div class="large-3 columns" >
            <%= image_tag "Hiroko.jpg", :class => 'mascot-hiroko'%>
          </div>
          <div class="large-9 columns" class="mascot-area" >
            <h4 class="mascot-p">Hiroko</h4>
            <p class="about-p"> Age: 22 <br>
            Height: 5'9" (175 cm)<br>
            Personality: Hiroko-chan is blood type AB: perky, an overachiever who likes to get involved in many things. She likes to play pool, and wipes the table with the guys who play against her. She always throws herself into action and is not afraid to stand up against an overwhelming force. She dates (men only), and has a very active social life.</p>
          </div>
        </div><!-- end row -->
        <div><br></div>
        <div class="row" id="mascot-div">
          <div class="large-3 columns" class="mascot-area">
            <%= image_tag "Hiroshi.jpg", :class => 'mascot-hiroshi'%>
          </div>
          <div class="large-9 columns" >
            <h4>Hiroshi</h4>
            <p class="about-p"> Age: 21 
            Height: 6'0" (183 cm)<br>
            Personality: Hiroshi is 15 months younger than his sister, Hiroko. He likes red bean ice cream best, but will eat almost anything, and he never seems to put on weight. He has red hair that is mostly straight and is enormously fond of his pony tail!</p>
          </div>
        </div><!-- end row -->
      </div>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
