<div class="container">
  <div class="row" >
    <h1 id="headline">Community <%= image_tag "cosplay_hiroko.gif", :class => 'mascot-hiroko'%></h1>
    <div class="large-12 columns" >
      <h2 class="about-bar"> Clubs </h2>
      <p class="about-p">Here is a list of clubs who have submitted their information to Otakon organized by location. If your club isn't on here and you'd like it listed, send us the location of your club (city, state if in the US, country if not), your website, a contact email and a short description. Feel free to include any other method of contact if you'd like.
        <br>
        <br>
      If your club used to be listed, but isn't anymore it means that we couldn't find it through the information we had (most likely due to being out of date). Just let us know the current info and we'll get you back on. Likewise, if your club is listed, but any of the information is wrong, please let us know by selecting "Anime Clubs" on the Otakon Contact Form.
      <br>
      <br>
      <a href="https://www.otakon.com/community_clubs.asp"> List of Clubs</a>
      </p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->

  <div class="row">
     <div class="large-12 columns">
      <h2 class="about-bar"> Community: Otakon Cosplay Coordination </h2>
      <p class="about-p">This year, Otakon has developed a pilot program called Otakon Cosplay Coordination to help facilitate and promote cosplay photoshoots within the Baltimore Convention Center during the convention. We know and understand that cosplay is an integral and important part of many members' Otakon experience. In the past, there have been many unofficial photoshoots, which has led to the occasional conflict of time and/or location. Since Otakon wants to make sure that members have a chance to express themselves and have the best time all around, we've created a department to coordinate the photo meetups in the three most popular areas of the BCC: The Charles Street Lobby, 3rd Floor Terrace (the one only accessible from the BCC), and the West Side of the 4th floor. All other locations, including those outside of the BCC, will be coordinated by the cosplay community and not included on the schedule or coordinated by Otakon. We cannot be held responsible for conflicts that occur with photoshoots coordinated outside of the Otakon photoshoot schedule.
      <br>
      <br>
      Since we are organizing official photoshoots, anyone attempting to host a cosplay photoshoot in one of the BCC areas while an official photoshoot is taking place will be asked to relocate outside of the BCC, to eliminate conflicts. Because of the photoshoot scheduling, we ask that all groups finish at their assigned time, or the photoshoot will be ended by a member of the Otakon staff so that the next group can set up and begin.
      <br>
      <br>
      We will be honoring and working with those photoshoots scheduled on Cosplay.com prior to this release in the three designated areas and adding them to our schedule. If there are any existing conflicts, Otakon Cosplay Coordinators will work with the community involved to come to a solution.
      <br>
      <br>
      Of course in order to best work with you, Otakon Cosplay Coordination will need some information from anyone who is already coordinating a cosplay photoshoot. If you have previously requested a photoshoot through Cosplay.com please fill out this form with the up-to-date information so we can confirm your date and time.
      <br>
      If you are interested in starting a photoshoot at Otakon in one of the three locations listed above, please check out this preliminary schedule. Then fill out this form to request your preferred dates and times. We want to work with you! Photoshoots held in these locations that are not on the schedule will be asked to relocate at Otakon Staff discretion.
      <br>
      <br>
      If you are coordinating more than one photoshoot, please fill out the form once for each desired photoshoot.
      <br>
      <br>
      We will be updating the preliminary schedule at least once a day as requests come in. The deadline for submitting the form is 11:59pm, June 30, 2014. This deadline is to ensure that we can iron out any final details and send the finalized schedule to our publications team.
      <br>
      <br>
      All gatherings, both official and unofficial, must abide by all Otakon Rules and Policies. To review them, you can find them here.
      <br>
      <br>
      As we get closer to con more information may be posted regarding photoshoots. Once posted we will do a social media blast of any and all updates. We look forward to working with the cosplay community in implementing this pilot program.</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<br>
<br>
