<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h1 id="headline-convoinfo">Convention Information <%= image_tag "panels_both.gif", :class => 'mascot-hiroko'%></h1>
      <h2 class="about-bar" id="nav-tickets"> Tickets </h2>
      <p class="about-p">TBA</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<div class="container" >
  <div class="row" id="nav-hours">
    <div class="large-12 columns" id="bg-div">
      <h2 class="about-bar"> Hours of Operation </h2>
      <table>
        <thead>
          <tr>
            <th width="150">Days</th>
            <th width="150">Matsuri</th>
            <th width="200">Convention Hours</th>
            <th width="200">Artist Alley Hours</th>
            <th width="200">Registration Hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Thursday</td>
            <td>8:30am - 5:00pm</td>
            <td>8:30am - 2:00am</td>
            <td>1:00pm - 10:00pm</td>
            <td>3:00pm - 10:00pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>N/A</td>
            <td>8:30am - 2:00am</td>
            <td>1:00pm - 10:00pm</td>
            <td>8:30am - 10:00pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>N/A</td>
            <td>8:30am - 2:00am</td>
            <td>10:00am - 10:00pm</td>
            <td>8:30am - 10:00pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>N/A</td>
            <td>8:30am - 4:00pm</td>
            <td>10:00am - 3:00pm</td>
            <td>8:30am - 10:00pm</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p class="about-p">Downtown Baltimore Guide Escorts are available 10:30 AM to 10:30 PM during the convention to walk you to your car, hotel, or bus stop! Please call: (410) 244 8778 or (410) 802 9631.</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-guest"> Guest </h2>
      <p class="about-p">Otakon Guest</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-info"> Info </h2>
      <p class="about-p">Otakon Convention Info</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-special-needs"> Special Needs </h2>
      <p class="about-p">Otakon info for special needs persons</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-newbies"> Con Newbies </h2>
      <p class="about-p">Convention Guide for convention newbies</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-info-desk"> Virtual Info Desk </h2>
      <p class="about-p">Get help from us online!</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-lost"> Lost and Found </h2>
      <p class="about-p">Convention Lost and Found</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h2 class="about-bar" id="nav-help"> Help </h2>
      <p class="about-p">General Help and FAQ</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<br>
<br>
<br>
