<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h1 id="headline-convoinfo">Convention Information <%= image_tag "panels_both.gif", :class => 'mascot-hiroko'%></h1>
      <h2 class="about-bar"> Tickets </h2>
      <p class="about-p">TBA</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>