<div class="container">
  <div class="row">

    <div class="small-3 columns">
      <h1>Directions</h1>
    </div><!-- end div small-3 columns -->

    <div class="small-9 columns">

    </div><!-- end div small-9 columns -->

  </div><!-- end div row -->
</div><!-- end div container -->
