<div class="container">
  <div class="row">
    <div class="large-12 columns" id="bg-div">
        <div class="large-3 columns">
          <h1>Directions</h1>
          <p class="directions-side-p">Otakon is held every year at the Baltimore Convention Center in Baltimore Maryland.</p>
          <br>
          <p class="directions-side-p"><strong>Universal Directions</strong><br>
            From points north or south, get onto I-95, just south of the McHenry Tunnel. Take 395 East into the city, and take the left "Russell Street" fork when the road splits. You'll emerge with the stadium(s) on your left and the BCC looming ahead on to your right.
          </p>
        </div><!-- end div large-3 columns -->
        <div class="large-9 columns">
          <!-- Google Maps API -->
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0" 
              src="<%=@url%>">
            </iframe>
        </div><!-- end div small-9 columns -->
    </div> <!-- end div large 12 columns -->
  </div><!-- end div row -->

  <div class="row">
    <div class="large-12 columns" id="bg-div">
      <br>
      <h3> All Road lead to Otakon! </h3>
      <p class="directions-p">This FAQ is aimed at those who are getting to Otakon by means other than driving themselves. Specifically the question answered is “How do I get to the convention from the bus station, airport, or train station by either walking or using Baltimore’s public transportation system?” (Of course, taxis are always another option.) Also included are a few tips for those who plan on driving to the con. <br>
        <br>
        <br>
        This information is consolidated from a slew of tips from both Otakon attendees and Baltimore-resident transportation specialists; all efforts have been made to assure accuracy, but Otakon can bear no responsibility for changes to schedules, fares, or highway conditions. Consider yourself warned. Prices quoted are from various web sites, some from previous years, so trust their accuracy only as much as you trust the ’net… I wouldn’t bet my munchies money on it, and would bring along some extra just in case.
        <br>
        <br>
        It's been a while since this page has been thoroughly updated, so here is a quick list of major updates for your consideration:
        <br>
        <br>
        The MARC Penn Line now runs on weekends – 9 round trips on Saturday and 6 on Sunday.
        MTA Maryland accepts all major credit cards as well as the WMATA SmarTrip card and MTA's Charm Card.
        I-495 South around Wilmington, Delaware, at the Christiana River bridge has re-opened just in time for Otakon. Northbound lanes are still closed.
        Tolls at many facilities in/around Maryland have gone up: $8 northbound on I-95 and US 40 bridges; $4 (both ways) for the Baltimore-area tunnels and the Key Bridge; $6 eastbound for the 50/301 Chesapeake Bay Bridge, and $4 (both ways) for the toll plaza at the Maryland/Delaware state line.
        Also some general ideas to help you on your way in:
        <br>
        <br>
        Check the “Ride Central” forum of the Otakon Bulletin Board to look for ride-sharing, bus charter plans, or other possible ways to combine efforts.
        Have a large group or think you can get one together? Try chartering a bus or van from a far-off town to Baltimore.
        Don’t want to be gouged for parking a car downtown? See here for suggestions on how to park a car and shuttle in on Light Rail, Metro subway, or bus.
        Be aware that a great many interstate highway rest areas in popular/populous areas, particularly those with tourist information offices open during daytime hours, now feature 24-hour wi-fi access. If you have a wi-fi enabled device, time permits, and you need to check e-mail or directions en route, schedule a stop!
        MTA now accepts all major credit cards at both METRO subway and Light Rail ticket vending machines.
        Note that the public transportation does NOT all run late at night (except for the 17 bus that runs during non-Light Rail operating hours), so those staying at hotels not within walking distance of the BCC may have to use alternate methods of getting back to their rooms at night! (Specifically, the Light Rail last leaves Camden Yards at about 12:08 AM on Friday and Saturday, and about 8:16 pm on Sunday to get to BWI, and the last regular Super Shuttle is done before midnight!)
      </p>
    </div><!-- end div large 12 columns -->
  </div><!-- end div row -->
</div><!-- end div container -->

<!-- my_key = ENV["goodreads_api"]
book_url = "https://www.goodreads.com/search.xml?key=#{my_key}&q=#{safe_title}"
 -->