<div class="container">
  <div class="row">

    <div class="small-3 columns">
      <h1>Directions</h1>
    </div><!-- end div small-3 columns -->

    <div class="small-9 columns">
      <!-- Google Maps API -->
        <iframe
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7fMHQkx6ozhQ0Td3RYN9PKOOaHuMnaJY
            &q=Baltimore+Convention+Center,Baltimore+MD">
        </iframe>
    </div><!-- end div small-9 columns -->

  </div><!-- end div row -->
</div><!-- end div container -->
