
<div class="container" >
  <div class="row" >
    <div class="large-12 columns" >
      <h1 id="headline"> Join our Team! <%= image_tag "mascots.gif", :class => 'mascot-hiroko'%></h1>
      <h2 class="about-bar"> Volunteer </h2>
      <p class="about-p">Blah</p>
    </div> <!-- end div large 12 columns -->
  </div> <!-- end div row -->
</div> <!-- end div container -->
<br>
<br>
<br>