/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import 'foundation-icons';
#otakon {
  background-color: #0079C6;
}

#top {
  text-align: center;
}

#latest-news {
  background-color: #F8F8F8;
}

#other-news {
  background-color: #D0D0D0 ;
}

.example-orbit {
  background-color: #F8F8F8;
}

th {
  background-color: #6699FF;
}

.mascot-hiroko {
  max-height: 320px;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
}

.mascot-hiroshi{
  max-height: 320px;
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.about-bar {
  background-color: #0079C6;
  color: white;
  padding-left: 30px;
}

.about-p {
  font-family: verdana;
  padding: 30px;
  background-color: #F8F8F8;
  font-size: 14pt;
  line-height: 1.5;
}

h4 {
  background-color: #F8F8F8;
  padding-left:30px;
}

#mascot-div {
  background-color: #F8F8F8;
}