/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import 'foundation-icons';
#container-bg {

} // Onbindex.html.erb

#otakon {
  background-color: #0079C6;
}

#top {
  text-align: center;
}
#loggedin {
  color: white;
}

.index-p{
  font-size: 16pt;
  padding-top: 20px;
  font-family: 'Raleway', serif;
}

#latest-news {
  // background-color: #F8F8F8;
  background-color: #FFFFFF;
}

.example-orbit {
  // background-color: #F8F8F8;
  background-color: #FFFFFF;
}

#footer {
  bottom: 0;  
  width: 100%;
  height: 40px; /* choose any height */
}
#body-div {
  min-height: 100%;
  margin-bottom: -40px;
}
body, html {
  min-height: 100%;
  min-width: 100%;
  // background-color: #CFDCFF;
  // background-image: url(gray_canvas_seamless.jpg);
  // background-image: url(light_gray_bricks_pattern.gif);
  // background-image: url(swirl_pattern.png);
  // background-image: url(White-wall-Seamless-Pattern-For-Website-Background.jpg);
  background: #c8d5ff; /* Old browsers */
  background: -moz-linear-gradient(top, #c8d5ff 0%, #ededed 48%, #f9f9f9 65%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8d5ff), color-stop(48%,#ededed), color-stop(65%,#f9f9f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c8d5ff 0%,#ededed 48%,#f9f9f9 65%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c8d5ff 0%,#ededed 48%,#f9f9f9 65%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c8d5ff 0%,#ededed 48%,#f9f9f9 65%); /* IE10+ */
  background: linear-gradient(to bottom, #c8d5ff 0%,#ededed 48%,#f9f9f9 65%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d5ff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F9F9F9;
}

p {
font-family: 'Raleway', serif;
font-weight: 400;
font-size: 16pt;
}

th {
  background-color: #6699FF;
  font-family: 'Raleway', serif;
}

td {
  font-family: 'Raleway', serif;
}

.mascot-hiroko {
  max-height: 320px;
  max-width: 280px;
  margin: 0 auto;
  padding: 20px;
}

.mascot-hiroshi{
  max-height: 320px;
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.about-bar {
  background-color: #0079C6;
  color: white;
  padding-left: 30px;
}

.directions-bar {
  background-color: #0079C6;
  color: white;
  padding-left: 10px;
}

.about-p {
  padding: 30px;
  // background-color: #F8F8F8;
  background-color: #FFFFFF;
  font-size: 12pt;
  line-height: 1.5;
}

h1 {
  font-family: 'Raleway', serif;
}

h2 {
  font-family: 'Raleway', serif;
}

h4 {
  background-color: #FFFFFF;
  padding-left:30px;
  padding-top: 20px;
  font-family: 'Raleway', serif;
}

h3 {
  font-family: 'Raleway', serif;
}

#bg-div {
  background-color: #FFFFFF;
}

.directions-side-p{
  font-size: 11pt;
  line-height: 1.5;
  padding: 20px;
}

.directions-p {
  font-size: 12pt;
  line-height: 1.5;
  padding: 30px;
}

#headline {
  text-align: center;
  font-size: 70pt; 
  font-weight: 500;
  color: #2E2E2F; 
}

#headline-convoinfo {
  text-align: center;
  font-size: 50pt;
  font-weight: 500;
}